.c-button {
    padding: 20px 40px;
    // width: 144px;
    // height: 51px;
    box-shadow: -1px 10px 18px rgba(0, 0, 0, 0.15);
    background-color: #212121;
    color: #ffffff;
    font-family: $Cormorant;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #212121;
    cursor: pointer;

    &--white {
        background-color: #ffffff;
        color: #212121;
    }
}