.c-card {

    display: grid;
    grid-gap: 30px;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(2 370px);
    //mobile
    grid-template-columns: 1fr;
    grid-auto-rows: 270px;

    &__box {

        &>img {
            @include size(100%, auto);
            object-fit: cover;
            height: 100%;
        }
    }

    margin-bottom: 40px;

}


//media queries
//screen > 850px
@mixin c-card\@screen_large {
    .c-card {
        grid-template-columns: repeat(2, 1fr);

    }
}


//screen > 1280px
@mixin c-card\@screen_mega {
    .c-card {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 370px;

    }
}