.c-counter {

    @include flex(flex, center, space-around);
    width: 100%;

    &__box {

        @include size(305px, 100%);
        min-height: 135px;
        @include flex(flex, center, flex-start, column);
        color: #ffffff;
    }

    &__number {
        font-size: rem(100px);
        font-weight: 300;
        margin-bottom: 20px;

    }

    &__txt {
        text-align: center;
        font-size: rem(30px);
        font-weight: 400;

    }
}