.c-feature {
    max-width: 1170px;
    width: 100%;
    padding: 20px 0;
    height: auto;
    position: relative;
    top: 60px;
    box-shadow: 0 0 40px 9px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    @include flex(flex, center, center, column);

    &__boxes {
        @include flex(flex, center, space-around, column);
        width: 100%;

    }


    &__box {
        @include flex(flex, center, flex-start, column);
        margin-bottom: 25px;
        max-width: 290px;
        width: 90%;
    }

    &__icon {

        @include size(45px);


        &>img {
            object-fit: cover;
        }
    }

    &__text {
        text-align: center;
        @include size(100%);

        &--title {
            padding: 18px 0;
            color: #000000;
            font-size: rem(24px);
            font-weight: 700;
            line-height: 32px;

        }

        &--subtitle {
            color: #000000;
            opacity: 0.9;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;

        }
    }
}


//media queries
//screen > 850px

@mixin c-feature\@screen_large {

    .c-feature {

        &__boxes {

            flex-direction: row;
            align-items: flex-start;
        }

        &__box {
            min-height: 195px;
            height: 100%;
            margin-bottom: 0;
            padding: 0 5px;

        }
    }
}



//screen > 1280px
@mixin c-feature\@screen_mega {
    .c-feature {
        @include size(1170px, 520px);
        top: 220px;

        &__box {
            padding: 0;
        }
    }
}