.l-wrapper {
    max-width: 1170px;
    margin: 120px auto;
    // text-align: center;
    @include flex(flex, center, center, column);

    &--intro {
        // @include flex(flex, center, flex-end, row);
        max-width: 100vw;
        margin: 0;
    }

    &--counter {
        height: 100%;
    }

}