.c-counter {

    @include flex(flex, center, space-around);
    width: 100%;
    //mobile
    flex-direction: column;

    &__box {

        @include size(305px, 100%);
        min-height: 135px;
        @include flex(flex, center, flex-start, column);
        color: #ffffff;

        //mobile
        &:nth-last-child(1) {
            margin-bottom: 25px;
        }
    }

    &__number {
        font-size: rem(100px);
        font-weight: 300;
        margin-bottom: 20px;

    }

    &__txt {
        text-align: center;
        font-size: rem(30px);
        font-weight: 400;

    }
}


//media queries
// screen > 850px

@mixin c-counter\@screen_large {
    .c-counter {
        flex-direction: row;
        padding: 20px 0;

        &__box {

            //mobile
            &:nth-last-child(1) {
                margin-bottom: 0px;
            }
        }

    }
}